<section>
  <h2>{{ "references.title" | translate }}</h2>

  <div class="max-width">
    <div class="refs">
      <div class="one-ref" *ngFor="let ref of references">
        <div class="image-wrapper">
          <img class="img-normal" [src]="ref.image" alt="" />
          <img
            class="img-hover"
            src="assets/img/references/Ellipse hover.png"
            alt=""
          />
        </div>

        <div class="overlay">
          <p class="name">
            {{ "references.items." + ref.key + ".name" | translate }}
          </p>

          <p class="project">
            {{ "references.items." + ref.key + ".project" | translate }}
          </p>

          <p class="quote">
            "{{ "references.items." + ref.key + ".quote" | translate }}"
          </p>

          <a
            class="linked-in"
            [href]="ref.linkedin"
            target="_blank"
            rel="noopener noreferrer"
            *ngIf="ref.linkedin"
          >
            {{ "references.linkedin" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
