<footer>
  <div>
    <p>Legal notice</p>
    <p>© Robin Erike 2025</p>
  </div>
  <div href="#hero-section" class="frontend-dev">
    <img src="assets/img/navbar/Logo icon (1).png" />
    <p class="anta-font fs-16 white">R.Erike</p>
    <p class="josefin-font fs-14 darkblue">developer</p>
  </div>
  <div>
    <a href=""><img src="assets/img/footer/Github button (1).png" alt="" /></a>
    <a href=""><img src="assets/img/footer/Email button (1).png" alt="" /></a>
    <a href=""><img src="assets/img/footer/Linkedin button (1).png" alt="" /></a>
  </div>
</footer>
