<footer>
  <div class="left-side">
    <a class="legal-notice" href="">Legal notice</a>
    <p>© Robin Erike 2025</p>
  </div>

  <div href="#hero-section" class="frontend-dev">
    <img src="assets/img/navbar/Logo icon (1).png" />
    <p class="anta-font fs-16 white">R.Erike</p>
    <p class="josefin-font fs-14 darkblue">developer</p>
  </div>

  <div class="footer-icons">
    <a
      target="_blank"
      href="https://github.com/robintymi"
      (mouseenter)="githubHover = true"
      (mouseleave)="githubHover = false"
    >
      <img
        [src]="
          githubHover
            ? 'assets/img/footer/Github hover.png'
            : 'assets/img/footer/Github button (1).png'
        "
        alt="GitHub"
      />
    </a>

    <a
      target="_blank"
      href="mailto:robinerike@gmail.com"
      (mouseenter)="mailHover = true"
      (mouseleave)="mailHover = false"
    >
      <img
        [src]="
          mailHover
            ? 'assets/img/footer/mail hover.svg'
            : 'assets/img/footer/Email button (1).png'
        "
        alt="E-Mail"
      />
    </a>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/robin-erike-b83485382/"
      (mouseenter)="linkedinHover = true"
      (mouseleave)="linkedinHover = false"
    >
      <img
        [src]="
          linkedinHover
            ? 'assets/img/footer/linked hover.png'
            : 'assets/img/footer/Linkedin button (1).png'
        "
        alt="LinkedIn"
      />
    </a>
  </div>
</footer>
