<footer>
  <div class="left-side">
    <a class="legal-notice" (click)="goLegalNotice($event)">
      {{ "footer.legal" | translate }}
    </a>

    <p>{{ "footer.copyright" | translate }}</p>
  </div>
  <div class="footer-icons hover-only mobile">
    <a target="_blank" href="https://github.com/robintymi">
      <img src="assets/img/footer/Github hover.png" alt="GitHub (hover)" />
    </a>

    <a target="_blank" href="mailto:robinerike@gmail.com">
      <img src="assets/img/footer/mail hover.svg" alt="E-Mail (hover)" />
    </a>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/robin-erike-b83485382/"
    >
      <img src="assets/img/footer/linked hover.png" alt="LinkedIn (hover)" />
    </a>
  </div>

  <div href="#hero-section" class="frontend-dev">
    <img src="assets/img/navbar/Logo icon (1).png" />

    <p class="anta-font fs-16 white">
      {{ "footer.brandSmall" | translate }}
    </p>

    <p class="josefin-font fs-14 darkblue">
      {{ "footer.brandRole" | translate }}
    </p>
  </div>

  <div class="footer-icons desktop">
    <a
      target="_blank"
      href="https://github.com/robintymi"
      (mouseenter)="githubHover = true"
      (mouseleave)="githubHover = false"
    >
      <img
        [src]="
          githubHover
            ? 'assets/img/footer/Github hover.png'
            : 'assets/img/footer/Github button (1).png'
        "
        alt="GitHub"
      />
    </a>

    <a
      target="_blank"
      href="mailto:robinerike@gmail.com"
      (mouseenter)="mailHover = true"
      (mouseleave)="mailHover = false"
    >
      <img
        [src]="
          mailHover
            ? 'assets/img/footer/mail hover.svg'
            : 'assets/img/footer/Email button (1).png'
        "
        alt="E-Mail"
      />
    </a>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/robin-erike-b83485382/"
      (mouseenter)="linkedinHover = true"
      (mouseleave)="linkedinHover = false"
    >
      <img
        [src]="
          linkedinHover
            ? 'assets/img/footer/linked hover.png'
            : 'assets/img/footer/Linkedin button (1).png'
        "
        alt="LinkedIn"
      />
    </a>
  </div>
</footer>
