
footer {
  background-color: #89bcd9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

.footer-icons {
  display: flex !important;
  gap: 12px;
}

.legal-notice {
  color: black;
  text-decoration: none;
}

.legal-notice:visited {
  color: black;
}

.legal-notice:hover {
  color: white;
}

.legal-notice:active {
  color: white;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}

.desktop {
  display: unset;
}

.mobile {
  display: none !important;
}

@media (max-width: 1000px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: unset !important;
  }

  footer {
    flex-direction: column-reverse;
  }

  .left-side {
    flex-direction: unset;

    > p {
      margin: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  a {
    margin: 10px;
  }

  .footer-icons {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  a {
    font-size: 16px !important;
  }

  footer {
    padding: 10px 10px !important;
  }
}
