<section>
  <div class="navbar">
    <a href="#hero-section" class="frontend-dev">
      <img src="assets/img/navbar/Logo icon (1).png" />
      <p class="anta-font fs-16 white">R.Erike</p>
      <p class="josefin-font fs-14 darkblue">developer</p>
    </a>

    <div class="navs darkblue">
      <a
        [routerLink]="['/']"
        fragment="why-me"
        class="nav-link"
        [class.active]="active === 'why-me'"
         (click)="scrollToSection($event, 'why-me')"
      >
        <img
          class="ellipse"
          src="assets/img/navbar/Ellipse-active-nav.png"
          alt=""
        />
        <span>{{ "nav.why" | translate }}</span>
      </a>

      <a
        [routerLink]="['/']"
        fragment="skills"
        class="nav-link"
        [class.active]="active === 'skills'"
         (click)="scrollToSection($event, 'skills')"
      >
        <img
          class="ellipse"
          src="assets/img/navbar/Ellipse-active-nav.png"
          alt=""
        />
        <span>{{ "nav.skills" | translate }}</span>
      </a>

      <a
        [routerLink]="['/']"
        fragment="projects"
        class="nav-link"
        [class.active]="active === 'projects'"
         (click)="scrollToSection($event, 'projects')"
      >
        <img
          class="ellipse"
          src="assets/img/navbar/Ellipse-active-nav.png"
          alt=""
        />
        <span>{{ "nav.projects" | translate }}</span>
      </a>

      <a
        [routerLink]="['/']"
        fragment="contact"
        class="nav-link"
        [class.active]="active === 'contact'"
          (click)="scrollToSection($event, 'contact')"
      >
        <img class="ellipse" src="assets/img/navbar/Ellipse DE EN.png" alt="" />
        <span>{{ "nav.contact" | translate }}</span>
      </a>
    </div>

    <div class="language-btns">
      <div class="EN-active">
        <div
          class="lang-option de"
          [class.active]="currentLang === 'de'"
          (click)="switchLang('de')"
        >
          <img
            *ngIf="currentLang === 'de'"
            src="assets/img/navbar/Ellipse DE EN.png"
            alt="DE Ellipse"
          />
          <span>{{ "lang.de" | translate }}</span>
        </div>

        <div
          class="lang-option en"
          [class.active]="currentLang === 'en'"
          (click)="switchLang('en')"
        >
          <img
            *ngIf="currentLang === 'en'"
            src="assets/img/navbar/Ellipse DE EN.png"
            alt="EN Ellipse"
          />
          <span>{{ "lang.en" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
