<section>
  <div class="navbar">
    <a href="#hero-section"  class="frontend-dev">
      <img src="assets/img/navbar/Logo icon (1).png" />
      <p class="anta-font fs-16 white">R.Erike</p>
      <p class="josefin-font fs-14 darkblue">developer</p>
    </a>

    <div class="navs darkblue">
      <a href="#why-me">Why me</a>
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </div>

    <div class="language-btns">
      <div class="EN-active">
        <div
          class="lang-option de"
          [class.active]="currentLang === 'de'"
          (click)="switchLang('de')"
        >
          <img
            *ngIf="currentLang === 'de'"
            src="assets/img/navbar/Ellipse DE EN.png"
            alt="DE Ellipse"
          />
          <span>DE</span>
        </div>

        <div
          class="lang-option en"
          [class.active]="currentLang === 'en'"
          (click)="switchLang('en')"
        >
          <img
            *ngIf="currentLang === 'en'"
            src="assets/img/navbar/Ellipse DE EN.png"
            alt="EN Ellipse"
          />
          <span>EN</span>
        </div>
      </div>
    </div>
  </div>
</section>
