.navbar {
    height:150px;
    background-color: #89bcd9;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Josefin Sans';
    width:100vw;
}

.navs {
    display:flex;
    
    >a {
        margin:15px;
        text-decoration: none;
        font-size: 26px;
    }
    >a:visited {
        color: #262e34;
    }
}

.language-btns {
    >img {
        cursor:pointer;
        margin:5px;
    }
}


