<section>
  <div class="navbar">
    <div class="frontend-dev">
      <img src="assets/img/navbar/Logo icon (1).png" />
      <p class="anta-font fs-16 white">R.Erike</p>
      <p class="josefin-font fs-14 darkblue">developer</p>
    </div>
    <div class="navs darkblue">
      <a href="">Why me</a>
      <a href="">Skills</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
    </div>
    <div class="language-btns">
      <img src="../../assets/img/navbar/DE-inactive.png" alt="" />
      <img src="../../assets/img/navbar/EN-active.png" alt="" />
    </div>
  </div>
</section>
