<section>
  <div class="one-ref">
    <img src="assets/img/references/Ellipse 02.png" alt="" />
    <div class="overlay">
      <p class="name">name</p>
      <p class="project">Join</p>
      <p class="quote">"Zitat oder Beschreibung"</p>
      <a href="#" class="linked-in">LinkedIn-Profil</a>
    </div>
  </div>

  <div class="one-ref">
    <img src="assets/img/references/Ellipse 02.png" alt="" />
    <div>
      <p class="name">coming soon</p>
      <p class="project">DA Bubble</p>
      <p class="quote">coming soon</p>
      <a href="" class="linked-in">linked in profile</a>
    </div>
  </div>
  <div class="one-ref">
    <img src="assets/img/references/Ellipse 02.png" alt="" />
    <div>
      <p class="name">coming soon</p>
      <p class="project">DA Bubble</p>
      <p class="quote">coming soon</p>
      <a href="" class="linked-in">linked in profile</a>
    </div>
  </div>
</section>
