<section>
  <div class="mobile">
    <div class="frontend-dev">
      <div class="frontend-icon">
        <img
          class="icon-base"
          src="assets/img/hero-section/frontend-dev-icon.png"
          alt=""
        />
        <img
          class="icon-hover"
          src="assets/img/hero-section/frontend-dev-icon-hover.png"
          alt=""
        />
      </div>

      <p class="anta-font fs-16 white">{{ "brand.nameShort" | translate }}</p>
      <p class="josefin-font fs-14 blue">{{ "brand.role" | translate }}</p>
    </div>
    <img
      class="burger-menu"
      (click)="toggleMenu()"
      src="assets/img/hero-section/burger menu default.png"
      alt=""
    />
  </div>
  <div class="its-me">
    <div class="left-side">
      <div class="bg-swap">
        <img
          class="bg-img bg-base"
          src="assets/img/hero-section/background-of-img.png"
          alt=""
        />
        <img
          class="bg-img2 bg-hover"
          src="assets/img/hero-section/background-of-img-hover.png"
          alt=""
        />
      </div>
      <img
        class="mobile-bg"
        src="assets/img/hero-section/mobilebg.png"
        alt=""
      />
      <img
        class="my-picture"
        src="assets/img/hero-section/Robin-no-background.png"
        alt=""
      />
      <img
        *ngIf="isMenuOpen"
        class="mobile-nav-bg"
        src="assets/img/hero-section/mobile-navbar-bg.png"
        alt="mobile menu
      background"
        (click)="toggleMenu()"
      />
    </div>

    <div class="right-side">
      <div class="frontend-dev desktop">
        <div class="frontend-icon">
          <img
            class="icon-base"
            src="assets/img/hero-section/frontend-dev-icon.png"
            alt=""
          />
          <img
            class="icon-hover"
            src="assets/img/hero-section/frontend-dev-icon-hover.png"
            alt=""
          />
        </div>

        <p class="anta-font fs-16 white">{{ "brand.nameShort" | translate }}</p>
        <p class="josefin-font fs-14 blue">{{ "brand.role" | translate }}</p>
      </div>
      <div class="name-job">
        <h1>Robin Erike</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
      <a href="#contact" class="arrow-container mobile">
        <img
          class="arrow arrow-base"
          src="assets/img/hero-section/Arrow down.png"
          alt=""
        />
      </a>
      <a href="#why-me" class="arrow-container desktop">
        <img
          class="arrow arrow-base"
          src="assets/img/hero-section/Arrow down.png"
          alt=""
        />
        <img
          class="arrow arrow-hover"
          src="assets/img/hero-section/Arrow down-hover.png"
          alt=""
        />
      </a>
      <div class="social-icons">
        <a href="mailto:robinerike@gmail.com" class="social-icon">
          <img
            class="icon-base"
            src="assets/img/hero-section/Email button.png"
            alt="Email"
          />
          <img
            class="icon-hover"
            src="assets/img/hero-section/Email button-hover.png"
            alt="Email hover"
          />
        </a>

        <a
          target="_blank"
          href="https://github.com/robintymi"
          class="social-icon"
        >
          <img
            class="icon-base"
            src="assets/img/hero-section/Github button.png"
            alt="Github"
          />
          <img
            class="icon-hover"
            src="assets/img/hero-section/Github button hover.png"
            alt="Github hover"
          />
        </a>

        <a
          target="_blank"
          href="https://www.linkedin.com/in/robin-erike-b83485382/"
          class="social-icon"
        >
          <img
            class="icon-base"
            src="assets/img/hero-section/Linkedin button.png"
            alt="LinkedIn"
          />
          <img
            class="icon-hover"
            src="assets/img/hero-section/linkedin button-hover.png"
            alt="LinkedIn hover"
          />
        </a>
      </div>
    </div>
  </div>
</section>
