section {
  align-items: stretch;
}

h1 {
  color: white;
  font-family: "Anta";
  font-size: 88px;
  font-weight: 400;
  margin-top: 6%;
}

.desktop {
  display: unset;
}

h2 {
  color: white;
  font-family: "Josefin Sans";
  font-size: 40px;
  font-weight: 400;
  margin-top: 3%;
}

.its-me {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-inline: 24px;
}

.left-side {
  width: 50%;
  height: auto;
}
.bg-swap {
  position: relative;
  height: auto;
  aspect-ratio: 1 / 1;
}

.bg-img {
  position: absolute;
  inset: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  transform: translateY(-1%);
}

.bg-img2 {
  position: absolute;
  inset: 0;
  width: 82%;
  height: 88%;
  transform: translate(19%, 20%);
  transition: opacity 0.6s ease;
  z-index: 99998;
}
.bg-hover {
  opacity: 0;
}
.left-side:hover .bg-hover {
  opacity: 1;
}
.left-side:hover .bg-base {
  opacity: 0;
}
.my-picture {
  position: absolute;
  bottom: 0;

  height: auto;
  width: 40vw;
  z-index: 99999;
  margin-left: 100px;
}

.frontend-dev {
  margin-top: 6%;
}
.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50%;
  > img {
    cursor: pointer;
    margin-top: 30%;
  }
}
.name-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.arrow-container {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease;
}

.arrow-hover {
  opacity: 0;
}

.arrow-container:hover .arrow-hover {
  opacity: 1;
}

.arrow-container:hover .arrow-base {
  opacity: 0;
}
.social-icons {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 15%;
  top: -4%;
}

.social-icon {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
}

.social-icon img {
  position: absolute;
  inset: 0;
  height: auto;
  transition: opacity 0.3s ease;
}

.icon-hover {
  opacity: 0;
  height: 40px;
  transform: translateX(-2.5%);
}

.social-icon:hover .icon-hover {
  opacity: 1;
}
.social-icon:hover .icon-base {
  opacity: 0;
}
.frontend-icon {
  position: relative;
  width: 60px;
  margin-bottom: 40px;
}

.frontend-icon img {
  position: absolute;
  inset: 0;
  width: 100%;
  transition: opacity 0.4s ease;
}

.icon-hover {
  opacity: 0;
}

.frontend-dev:hover .icon-hover {
  opacity: 1;
}

.frontend-dev:hover .icon-base {
  opacity: 0;
}

.mobile {
  display: none;
}
@media (max-width: 1250px) {
  h1 {
    font-size: 60px;
    margin-top: 6%;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .mobile-nav-bg {
    position: absolute;
    bottom: 0;
    left: 53%; /* wie .my-picture */
    transform: translateX(-50%);
    width: 60%;
    max-width: 430px;
    height: auto;
    z-index: 100000; /* höher als .my-picture (99999) */
    pointer-events: auto; /* oder none, wenn Klicks durchgehen sollen */
  }
  .social-icons {
    display: none;
  }

  .its-me {
    display: block;
    position: unset;
    padding-inline: 0;
    margin-top: 3%;
  }

  .bg-swap {
    display: none;
  }

  .right-side {
    width: 100% !important;
    height: 40%;
  }

  .mobile-bg {
    display: block; /* jetzt sichtbar */
    margin: 0 auto; /* mittig */
    width: 80%;
    max-width: 340px;
    height: auto;
  }

  .my-picture {
    position: absolute; /* über der Ellipse */
    bottom: 0; /* am unteren Rand der Ellipse */
    left: 53%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 430px;
    height: auto;
    margin: 0; /* kein auto-Margin mehr nötig */
  }
  .left-side {
    width: 100%;
    height: 60%;
    position: relative;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu {
    height: fit-content;
    margin-top: 6%;
    margin-right: 5%;
    cursor: pointer;
    height: 50px;
  }
  .desktop {
    display: none;
  }

  .frontend-dev {
    align-items: unset;
    margin-left: 5%;
  }
  .name-job {
    margin-top: unset;
  }

  .frontend-icon {
    width: 70px;
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  .mobile-bg {
    width: 60%;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }
}
