<h1>My Projects</h1>
<section class="projects">
  <!-- Tabs -->
  <nav class="tabs">
    <button
      *ngFor="let p of projects; let i = index"
      class="tab"
      [class.active]="i === active"
      (click)="active = i"
    >
      {{ i + 1 }}. {{ p.title }}
    </button>
  </nav>

  <!-- Content -->
  <div class="content" *ngIf="projects[active] as proj">
    <div class="max-width">
      <div class="left">
        <div class="block" *ngIf="proj.about">
          <h3 class="block-title">
            <span class="dot"></span>
            <img src="assets/img/skills/bullet points.png" alt="" /> About the
            project
            <span class="muted" *ngIf="proj.duration"
              >Duration: {{ proj.duration }}</span
            >
          </h3>
          <p>{{ proj.about }}</p>
        </div>

        <div class="block" *ngIf="proj.process">
          <h3 class="block-title">
            <span class="dot"></span>
            <img src="assets/img/skills/bullet points.png" /> How I have
            organised my work process
          </h3>
          <p>{{ proj.process }}</p>
        </div>

        <div class="block" *ngIf="proj.experience">
          <h3 class="block-title">
            <span class="dot"></span>
            <img src="assets/img/skills/bullet points.png" alt="" /> My group
            work experience
          </h3>
          <p>{{ proj.experience }}</p>
        </div>
      </div>

      <div class="right">
        <div class="tech">
          <span>Technologies</span>
          <div class="icons">
            <img *ngFor="let t of proj.tech" [src]="t.icon" [alt]="t.name" />
          </div>
        </div>

        <div class="mockup">
          <img [src]="proj.image" [alt]="proj.title" />
        </div>

        <div class="cta" *ngIf="proj.live || proj.github">
          <a [href]="proj.live" target="_blank" class="btn primary">
            <img src="assets/img/skills/Button Primary Web.png" alt=""
          /></a>

          <a [href]="proj.github" target="_blank" class="btn primary">
            <img src="assets/img/skills/Button Secondary Web.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
