<section>
  <h1>Contact me</h1>

  <div class="contact">
    <form action="">
      <div class="role">
        <p class="my-motivation">
          I’m passionate about creating intuitive and visually appealing web
          experiences. I’m currently looking for opportunities in frontend
          development where I can contribute my skills in building responsive,
          user-friendly interfaces and continuously grow as a developer. I’m
          eager to bring creativity, dedication, and fresh ideas to your team
          and help deliver impactful digital products.
        </p>
        <div class="contact-details">
          <a href="" class="email"
            ><img src="assets/img/contact/🦆 icon _email_.png" alt="" /> E-mail:
            robinerike&#64;gmail.com
          </a>
          <a href="" class="phone"
            ><img src="assets/img/contact/🦆 icon _phone_.png" alt="" />Tel:
            0176 201 643 66</a
          >
        </div>
      </div>
      <div>
        <div class="name-email-flex">
          <div class="label-flex">
            <label for="name">Your name</label>
            <input id="name" type="text" />
          </div>
          <div class="label-flex">
            <label for="email">Your Email</label>
            <input id="email" type="email" />
          </div>
        </div>
      </div>
      <div>
        <label for="message">Your Message</label>
        <textarea id="message" rows="6"></textarea>
      </div>

      <div>
        <img src="../../assets/img/contact/Check box (2).png" alt="" />
        <label for=""
          >I've read the privacy policy and agree and agree to the processing of
          my data as outlined</label
        >
        <p class="red-notice">Please accept the privacy policy.</p>
      </div>
    </form>
  </div>
</section>
