<section>
  <div class="head-and-arrow">
    <h1>{{ "contact.title" | translate }}</h1>
    <a
      class="arrow-up desktop"
      href="#hero-section"
      (mouseenter)="arrowHover = true"
      (mouseleave)="arrowHover = false"
    >
      <img
        [src]="
          arrowHover
            ? 'assets/img/contact/arrow up hover.png'
            : 'assets/img/contact/Arrow up.png'
        "
        alt="arrow up"
      />
    </a>
  </div>

  <div class="contact">
    <form #contactForm="ngForm" novalidate>
      <div class="role">
        <p class="my-motivation">
          {{ "contact.intro" | translate }}
        </p>

        <div class="contact-details">
          <a href="mailto:robinerike@gmail.com" class="email">
            <img
              src="assets/img/contact/🦆 icon _email_.png"
              alt="email icon"
            />
            {{ "contact.details.emailLabel" | translate }}
            robinerike&#64;gmail.com
          </a>
          <a href="tel:017620164366" class="phone">
            <img
              src="assets/img/contact/🦆 icon _phone_.png"
              alt="phone icon"
            />
            {{ "contact.details.phoneLabel" | translate }}
            0176 201 643 66
          </a>
        </div>
      </div>

      <div class="work-together mobile">Let us work together!</div>

      <div>
        <div class="name-email-flex">
          <div class="label-flex" [class.invalid]="isNameInvalid(nameModel)">
            <label
              class="desktop"
              [class.error-label]="isNameInvalid(nameModel)"
              for="name"
            >
              {{
                (isNameInvalid(nameModel)
                  ? "contact.form.nameError"
                  : "contact.form.nameLabel"
                ) | translate
              }}
            </label>
            <div class="input-wrapper">
              <input
                id="name"
                type="text"
                name="name"
                required
                minlength="2"
                [placeholder]="
                  (isNameInvalid(nameModel)
                    ? 'contact.form.nameError'
                    : 'contact.form.nameLabel'
                  ) | translate
                "
                [(ngModel)]="contactData.name"
                #nameModel="ngModel"
                [class.filled]="contactData.name"
              />
              <span class="valid-indicator" *ngIf="nameModel.valid"></span>
            </div>
          </div>

          <div class="label-flex" [class.invalid]="isEmailInvalid(emailModel)">
            <label
              class="desktop"
              [class.error-label]="isEmailInvalid(emailModel)"
              for="email"
            >
              {{
                (isEmailInvalid(emailModel)
                  ? "contact.form.emailError"
                  : "contact.form.emailLabel"
                ) | translate
              }}
            </label>
            <div class="input-wrapper">
              <input
                id="email"
                type="email"
                name="email"
                required
                [placeholder]="
                  (isEmailInvalid(emailModel)
                    ? 'contact.form.emailError'
                    : 'contact.form.emailLabel'
                  ) | translate
                "
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                [(ngModel)]="contactData.email"
                #emailModel="ngModel"
              />
              <span class="valid-indicator" *ngIf="emailModel.valid"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="textarea" [class.invalid]="isMessageInvalid(messageModel)">
        <label
          class="desktop"
          [class.error-label]="isMessageInvalid(messageModel)"
          for="message"
        >
          {{
            (isMessageInvalid(messageModel)
              ? "contact.form.messageError"
              : "contact.form.messageLabel"
            ) | translate
          }}
        </label>
        <div class="input-wrapper textarea-wrapper">
          <textarea
            id="message"
            name="message"
            rows="6"
            required
            minlength="4"
            [placeholder]="
              (isMessageInvalid(messageModel)
                ? 'contact.form.messageError'
                : 'contact.form.messageLabel'
              ) | translate
            "
            [(ngModel)]="contactData.message"
            #messageModel="ngModel"
          ></textarea>
          <span class="valid-indicator" *ngIf="messageModel.valid"></span>
        </div>
      </div>

      <div class="checkbox-wrapper">
        <img
          [src]="
            checkboxState === 'neutral'
              ? 'assets/img/contact/Check box neutral.png'
              : checkboxState === 'hover'
              ? 'assets/img/contact/Check box hover.png'
              : checkboxState === 'checked'
              ? 'assets/img/contact/Check box checked.png'
              : 'assets/img/contact/Check box red.png'
          "
          class="checkbox-img"
          (mouseenter)="onHover(true)"
          (mouseleave)="onHover(false)"
          (click)="onToggle()"
        />

        <label class="privacy-label">
          {{ "contact.privacy.textBeforeLink" | translate }}
          <a class="priv" href="#">
            {{ "contact.privacy.link" | translate }}
          </a>
          {{ "contact.privacy.textAfterLink" | translate }}
        </label>

        <p class="red-notice" *ngIf="!isChecked && showError">
          {{ "contact.privacy.error" | translate }}
        </p>
      </div>

      <div class="submit-btns">
        <button
          type="button"
          class="submit-btn"
          [class.active]="isChecked && contactForm.valid"
          (click)="
            onTrySubmit(contactForm, nameModel, emailModel, messageModel)
          "
          [attr.aria-disabled]="
            !isChecked || !contactForm.valid ? 'true' : null
          "
        >
          <img
            *ngIf="isChecked && contactForm.valid"
            src="assets/img/contact/Button Secondary Mob (1).png"
            alt="Submit (active)"
          />
          <img
            *ngIf="!isChecked || !contactForm.valid"
            src="assets/img/contact/Button Secondary Mob.png"
            alt="Submit (disabled)"
          />
        </button>
      </div>

      <a
        class="arrow-mobile mobile"
        href="#hero-section"
        (mouseenter)="arrowHover = true"
        (mouseleave)="arrowHover = false"
      >
        <img
          [src]="
            arrowHover
              ? 'assets/img/contact/arrow up hover.png'
              : 'assets/img/contact/Arrow up.png'
          "
          alt="arrow up"
        />
      </a>
    </form>
  </div>
</section>
