<section class="why">
  <h1 class="blue">Why me</h1>
  <div class="why-grid">
    <div class="why-left">
      <img class="why-icon" src="assets/img/why-me/icon.png" alt="" />
      <h3 class="why-headline">I am located in Wildau, close to Berlin..|</h3>
    </div>

    <div class="why-right">
      <div class="why-text">
        Why are you passionate about coding? You can include some key traits
        like: analytical thinking, creativity, persistence and collaboration. A
        problem-solving mindset is always nice to have.
        <div class="lets-talk">
          <img
            class="lt-base"
            src="assets/img/why-me/lets talk button.png"
            alt="Let's talk"
          />
          <img
            class="lt-hover"
            src="assets/img/why-me/lets talk button-hover.png"
            alt="Let's talk hover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
