<section class="why">
  <div class="why-wrapper">
    <h1 class="blue">{{ "why.title" | translate }}</h1>

    <div class="why-grid">
      <div class="why-left">
        <div class="open-to">
          <img class="why-icon" src="assets/img/why-me/icon.png" alt="" />
          <h3 class="why-headline">
            <span>{{ "why.item1.prefix" | translate }}</span>
            {{ "why.item1.text" | translate }}
            <span>{{ "why.item1.suffix" | translate }}</span>
          </h3>
        </div>

        <div class="open-to">
          <img
            class="why-icon"
            src="assets/img/why-me/Icon Remote.png"
            alt=""
          />
          <h3 class="why-headline">
            <span>{{ "why.item2.prefix" | translate }}</span>
            {{ "why.item2.text" | translate }}
            <span>{{ "why.item2.suffix" | translate }}</span>
          </h3>
        </div>
      </div>

      <div class="why-right">
        <div class="why-text">
          <p class="why-description">
            {{ "why.text" | translate }}
          </p>
          <button type="button" class="lets-talk" (click)="navigateToContact()">
            {{ "skills.cta" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
