<h1>My Skills</h1>

<div class="skills">
  <img src="assets/img/skills/Skill set.png" alt="" />

  <div class="currently-learning">
    <img class="cl-base" src="assets/img/skills/Ellipse 25.png" alt="Ellipse" />
    <img
      class="cl-hover"
      src="assets/img/skills/Ellipse 25-hover.png"
      alt="Ellipse Hover"
    />

    <div class="learning">
      I am currently learning
      <div class="learning-icons">
        <img src="assets/img/skills/postgreSQL.png" alt="PostgreSQL" />
        <img src="assets/img/skills/rxjs.png" alt="RXJS" />
      </div>

      I am currently learning backend development, exploring technologies like
      databases, APIs, and server-side frameworks to build complete and scalable
      web applications.
    </div>
  </div>
</div>
