.skills {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 6%;
}

.skill-set-img {
  width: 34vw; /* 25 % der Viewport-Breite */
  height: auto; /* behält Seitenverhältnis */
  max-width: 100%; /* falls Container kleiner als Viewport */
  display: block;
}

.currently-learning {
  position: relative;
  display: block;
  width: 34vw;
  aspect-ratio: 1 / 1;
  align-self: center;
  cursor: pointer;

  > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
  }
}

.currently-learning .cl-hover {
  opacity: 0;
}

/* Beim Hover tauschen */
.currently-learning:hover .cl-hover {
  opacity: 1;
}

.currently-learning:hover .cl-base {
  opacity: 0;
}

.learning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfekt zentriert */
  text-align: center;
  width: 70%;
  color: #e7eef3;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  > img {
    height: 50px;
    width: 50px;
  }
}

.learning-icons {
  display: flex;
  justify-content: center;
  margin: 12px 12px;
}
