.skills {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 6%;
}

.skill-set-img {
  width: 34vw; /* 25 % der Viewport-Breite */
  height: auto; /* behält Seitenverhältnis */
  max-width: 100%; /* falls Container kleiner als Viewport */
  display: block;
}

.currently-learning {
  position: relative;
  display: block;
  width: 34vw;
  aspect-ratio: 1 / 1;
  align-self: center;
  cursor: pointer;

  > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
  }
}

.currently-learning .cl-hover {
  opacity: 0;
}

/* Beim Hover tauschen */
.currently-learning:hover .cl-hover {
  opacity: 1;
}

.currently-learning:hover .cl-base {
  opacity: 0;
}

.learning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfekt zentriert */
  text-align: center;
  width: 70%;
  color: #e7eef3;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  > img {
    height: 50px;
    width: 50px;
  }
}

.learning-icons {
  display: flex;
  justify-content: center;
  margin: 12px 12px;
}
.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .skills {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    font-family: "Josefin Sans";
  }

  .skill-set-img {
    width: 50vw;
  }
  .what-learning {
    color: #89bcd9;
    font-size: 22px;
    margin-top: 5%;
  }

  .learning-by-doing {
    width: 80%;
    font-size: 22px;
    text-align: start;
    color: white;
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 3%;
  }

  .mobile-ellipse {
    position: relative;
    max-width: 280px;
    width: 30%;
  }

  .mobile-ellipse .ellipse-bg {
    width: 100%;
    height: auto;
    display: block;
  }

  .ellipse-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 16px;
  }

  .ellipse-icons img {
    width: 45px;
    height: 45px;
  }

  .learning-text {
    width: 60%;
  }

  .backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 10%;
  }
}

@media (max-width: 650px) {
  .backend {
    > img {
      width: 30px;
      height: 30px;
      margin-bottom: 3px;
    }
  }
}
@media (max-width: 500px) {
  .skill-set-img {
    width: 80vw;
  }

  .learning-by-doing {
    font-size: 18px;
    width: 90%;
    flex-direction: column-reverse;
  }

  .mobile-ellipse {
    width:50%;
  }

  .learning-text {
    width:80%;
    font-size:22px;
    margin-top:4%;
  }
}
