body {
  margin: 0;
  background-color: #262e34;
}

app-navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #262e24;
}

main {
  position: relative;
  z-index: 0;
}

app-skills {
  display: block;
  margin-top: 3%;
}

app-projects {
  display: block;
  margin-top: 6%;
}

app-contact {
  display: block;
  margin-top: 6%;
}
