
body {
  margin: 0;
  background-color: #262e34;
}

app-navbar {
  display: block; /* Custom Element -> Block */
  position: sticky;
  top: 0;
  z-index: 9999; /* über allen Sektionen liegen */
  width: 100%;
  /* optional: Hintergrund, damit Content darunter nicht “durchscheint” */
  background: #262e24; /* oder deine Navbar-Farbe */
}

main {
  position: relative;
  z-index: 0;
}

app-skills {
  display:block;
  margin-top:3%;
}

app-projects {
  margin-top:6%;
  display:block;
}

app-contact {
  margin-top:6%;
  display:block;
}