<!-- Top-Bar (nur Mobile sichtbar) -->
<div class="mobile-bar">
  <div class="frontend-dev">
    <div class="frontend-icon">
      <img
        class="icon-base"
        src="assets/img/hero-section/frontend-dev-icon.png"
        alt=""
      />
      <img
        class="icon-hover"
        src="assets/img/hero-section/frontend-dev-icon-hover.png"
        alt=""
      />
    </div>

    <p class="anta-font fs-16 white">{{ "brand.nameShort" | translate }}</p>
    <p class="josefin-font fs-14 blue">{{ "brand.role" | translate }}</p>
  </div>

  <img
    class="burger-menu"
    (click)="toggleMenu()"
    [src]="
      isMenuOpen
        ? 'assets/img/hero-section/burger menu close.png'
        : 'assets/img/hero-section/burger menu default.png'
    "
    [attr.alt]="isMenuOpen ? 'Close menu' : 'Open menu'"
    role="button"
    tabindex="0"
    (keydown)="onBurgerKeydown($event)"
  />
</div>

<!-- Overlay: Ellipse + Menü -->
<div class="mobile-overlay" *ngIf="isMenuOpen" (click)="toggleMenu()">
  <img
    class="mobile-nav-bg"
    src="assets/img/hero-section/mobile-navbar-bg.png"
    alt="mobile menu background"
  />
  <div class="mobile-menu" (click)="$event.stopPropagation()">
    <a href="#why-me" (click)="closeAfterNav()">{{ "nav.why" | translate }}</a>
    <a href="#skills" (click)="closeAfterNav()">{{
      "nav.skills" | translate
    }}</a>
    <a href="#projects" (click)="closeAfterNav()">{{
      "nav.projects" | translate
    }}</a>
    <a href="#contact" (click)="closeAfterNav()">{{
      "nav.contact" | translate
    }}</a>

    <div class="mobile-lang">
      <div
        class="lang-option"
        [class.active]="currentLang === 'de'"
        (click)="switchLang('de')"
        role="button"
        tabindex="0"
        [attr.aria-pressed]="currentLang === 'de' ? 'true' : 'false'"
      >
        <img
          *ngIf="currentLang === 'de'"
          class="ellipse-bg"
          src="assets/img/navbar/Ellipse DE EN.png"
          alt="DE"
        />
        <span class="lang-code">DE</span>
      </div>

      <div
        class="lang-option"
        [class.active]="currentLang === 'en'"
        (click)="switchLang('en')"
        role="button"
        tabindex="0"
        [attr.aria-pressed]="currentLang === 'en' ? 'true' : 'false'"
      >
        <img
          *ngIf="currentLang === 'en'"
          class="ellipse-bg"
          src="assets/img/navbar/Ellipse DE EN.png"
          alt="EN"
        />
        <span class="lang-code">EN</span>
      </div>
    </div>
  </div>
</div>
